﻿<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<%@ Register Src="~/UserControl/LoginControl.ascx" TagPrefix="UC1" TagName="Login" %>
<%@ Register Src="~/UserControl/IssueTrack.ascx" TagName="Issue" TagPrefix="ucissue" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <%--<meta name="viewport" content="width=device-width, initial-scale=1.0">--%>
  <%--  <title>TravelVilla</title>--%>
   <meta charset="utf-8" />
    <meta name="keywords" content="HTML5 Template" />
   <%-- <meta name="description" content="Travelo - Travel, Tour Booking HTML5 Template" />--%>
    <meta name="author" content="SoapTheme" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />



    <!-- Theme Styles -->
    <link href="<%=ResolveUrl("~/css1/bootstrap.min.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/css1/font-awesome.min.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/css1/style.css")%>" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,200,300,500' rel='stylesheet' type='text/css' />
    <link href="<%=ResolveUrl("~/css1/animate.min.css")%>" rel="stylesheet" />
    

    <!-- Main Style -->
    <%--<link id="main-style" href="../css1/style.css" rel="stylesheet" />--%>


    <!-- Updated Styles -->
    <link href="<%=ResolveUrl("~/css1/updates.css")%>" rel="stylesheet" />
   

    <!-- Custom Styles -->
 
    <link href="<%=ResolveUrl("~/css1/custom.css")%>" rel="stylesheet" />

    <!-- Responsive Styles -->
   
    <link href="<%=ResolveUrl("~/css1/responsive.css")%>" rel="stylesheet" />
    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

  
</head>
<body runat="server" style="background-image:url('Images/bgimg/bg_login.png');background-repeat:no-repeat;background-size:cover">

        <form id="form1" runat="server" >



                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

                        </asp:ContentPlaceHolder>
      

        </form>

</body>
</html>

    <!-- Javascript -->
    <script type="text/javascript" src="../js1/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js1/jquery.noconflict.js"></script>
    <script type="text/javascript" src="../js1/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="../js1/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../js1/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../js1/jquery-ui.1.10.4.min.js"></script>


<%--    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>--%>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="../js1/bootstrap.js"></script>

   <%-- <script type="text/javascript" src="js/bootstrap.js"></script>--%>

    <script type="text/javascript">
        var enableChaser = 0;
    </script>
    <!-- parallax -->
    <script type="text/javascript" src="../js1/jquery.stellar.min.js"></script>

    <%--<script type="text/javascript" src="js/jquery.stellar.min.js"></script>--%>

    <!-- waypoint -->
    <script type="text/javascript" src="../js1/waypoints.min.js"></script>
    <%--<script type="text/javascript" src="js/waypoints.min.js"></script>--%>

    <!-- load page Javascript -->
    <script type="text/javascript" src="../js1/theme-scripts.js"></script>
    <script type="text/javascript" src="../js1/scripts.js"></script>
    <%--<script type="text/javascript" src="js/theme-scripts.js"></script>--%>
    <%--<script type="text/javascript" src="js/scripts.js"></script>--%>

