﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Abc.aspx.vb" Inherits="DetailsPort_Abc" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <b style="font-size:22px;"> hello world</b>
    </div>
    </form>
</body>
</html>
