﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HotelSettings.ascx.cs" Inherits="UserControl_HotelSettings" %>
<%@ Register Src="~/UserControl/childPage_UserControl.ascx" TagPrefix="uc1" TagName="childPage_UserControl" %>




<uc1:childPage_UserControl runat="server" ID="childPage_UserControl" />





<%--<div>
    <%if (Session["User_Type"].ToString().Trim().ToUpper().Equals("ADMIN") ){%>
   
    <div class="fltnewmenu1">
            <a href="<%= ResolveUrl("~/DetailsPort/Admin/AdminHtlMarkup.aspx")%>">Hotel Markup</a>
        </div>
    
    <% } else if( Session["User_Type"].ToString().Trim().ToUpper().Equals("AGENT") ){%>
    
    <div class="fltnewmenu1">
            <a href="<%= ResolveUrl("~/DetailsPort/Agent/AgentHtlMarkup.aspx")%>">Hotel Markup</a>
        </div>
    <%}%>
</div--%>>